:root {
  --color-primary: rgb(255, 39, 129);
  --color-link: rgb(255, 39, 129);
  --color-link-hover: rgb(250, 79, 150);
  --color-line: rgb(228, 228, 228);
  --color-highlight: rgb(253, 205, 210);
  --max-width: 600px;
}

html {
  scroll-behavior: smooth;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--color-primary);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 10;
}

.github-icon {
  color: white;
  transition: 0.2s ease-in-out;
}

.github-icon:hover {
  transform: scale(1.05);
  color: var(--color-primary);
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: var(--max-width);
}

#about p {
  margin-bottom: 15px;
}

.middle-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: var(--max-width);
}

/* projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-name {
  padding: 0px 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

.project-info {
  padding: 0px 5px;
  font-size: 0.95rem;
  text-transform: capitalize;
}

.project-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.more-project-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

/* path section */
.path-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.path-div {
  display: flex;
  gap: 15px;
  cursor: default;
  transition: 0.2s ease-in-out;
}

.path-div:hover {
  color: var(--color-primary);
  transform: translateX(4px);
}

.path-time {
  font-weight: bold;
}

/* hightlight */
span.hl {
  display: inline-block;
  padding: 0px 4px;
  border-radius: 3px;
  background-color: var(--color-highlight);
}

/* button */
.link-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-link);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.link-btn:hover {
  background-color: var(--color-link-hover);
  scale: 0.98;
}

/* anchor */
.anchor {
  position: absolute;
  top: -70px;
  visibility: hidden;
}

/* others */
.pr nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  position: relative;
  margin: 20px;
  padding: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-line);
}

section.no-border {
  border: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  font-size: 0.87rem;
  width: 100%;
  height: 80px;
}
