:root {
  --color-link: rgb(255, 39, 129);
  --color-line: rgb(228, 228, 228);
  --color-highlight: rgb(253, 253, 115);
  --max-width: 600px;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-link);
}

h2 {
  margin-bottom: 15px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  text-align: center;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: var(--max-width);
}

.middle-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: var(--max-width);
}

/* projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-name {
  padding: 0px 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

.project-info {
  padding: 0px 5px;
  font-size: 0.95rem;
  text-transform: capitalize;
}

.project-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

/* hightlight */
span.hl {
  display: inline-block;
  background-color: var(--color-highlight);
  padding: 0px 4px;
  font-weight: 600;
}

/* others */
.pr nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  margin: 20px;
  padding: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-line);
}

section.no-border {
  border: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
