:root {
  /* main */
  --color-dark: #000000;
  --color-primary: #882727;
  --color-primary-hover: #674a4a;
  --color-secondary: rgb(198, 63, 63);
  --color-secondary-hover: #e06767;

  /* other */
  --color-card-background: white;
  --color-line: rgb(253, 125, 125);
  /* text */
  --color-header: white;
  --color-text: rgb(255, 255, 255);
  /* size */
  --max-width: 900px;
}

/* fonts */
/* <weight>: Use a value from 300 to 800 */
.open-sans-normal {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* <weight>: Use a value from 300 to 800 */
.shantell-sans-normal {
  font-family: 'Shantell Sans', cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'BNCE' 0, 'INFM' 0, 'SPAC' 0;
}

/* General Styles */
html {
  scroll-behavior: smooth;
  background-color: var(--color-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--color-text);
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-dark)
  );
  font-family: 'Open Sans', sans-serif;
  font-weight: 450;
}

a {
  color: var(--color-secondary);
  text-decoration: underline;
  padding: 5px;
}

a:hover {
  text-decoration: underline;
  color: var(--color-dark);
  background-color: var(--color-secondary-hover);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 10px;
  line-height: 30px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.burger-container {
  display: none;
  margin-right: 20px;
  padding: 7px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.burger-container:hover {
  background-color: var(--color-secondary-hover);
}

.burger {
  position: relative;
  width: 30px;
  height: 23px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.burger::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: '';
  height: 3px;
  width: 30px;
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-secondary);
  color: white;
  text-align: center;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.nav {
  background-color: var(--color-secondary);
}

.nav a {
  color: white;
  background-color: var(--color-secondary);
}

.nav a:hover {
  color: var(--color-dark);
  background-color: var(--color-secondary-hover);
}

a:hover .github-icon {
  color: var(--color-dark);
}

.github-icon {
  color: white;
}

/* welcome */
.welcome {
  text-align: center;
}

#welcome-message {
  font-size: 4rem;
}

.typed-cursor {
  font-size: 4rem;
}

/* container */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  max-width: var(--max-width);
}

.middle-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  max-width: var(--max-width);
}

/* about */
.about-section {
  color: white;
}

.about-section h2 {
  color: white;
}

.about-div {
  display: flex;
  gap: 10px;
}

.about-div-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-image-div a:hover {
  background-color: #00000000;
}

.about-image-div {
  position: relative;
  flex-shrink: 0;
  width: 200px;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.1s ease-in-out;
  user-select: none;
}
.about-image:hover {
  scale: 1.04;
}

.about-image-arrow {
  position: absolute;
  right: -20px;
  bottom: 0px;
  height: 50px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/icon/arrow1.png');
  transform: rotate(-190deg);
  user-select: none;
}
.about-image-arrow-text {
  position: absolute;
  right: -50px;
  bottom: -25px;
  transform: rotate(10deg);
  color: var(--color-secondary);
  font-family: 'Shantell Sans', cursive;
  user-select: none;
}

.about p {
  margin-bottom: 15px;
}

/* projects */
.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.group-select-div {
  position: relative;
  margin-bottom: 10px;
}

.group-select {
  width: 150px;
  height: 35px;
  margin-left: 10px;
  font-size: 1rem;
  text-align: center;
  border: 2px solid white;
  color: white;
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  cursor: pointer;
}

.group-select:hover {
  background-color: var(--color-secondary-hover);
}

.group-select:focus {
  outline: none;
}

.group-select-arrow {
  position: absolute;
  top: 120%;
  right: 45%;
  color: var(--color-secondary);
}

/* projects  */
.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.project-card {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 0px;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.project-card:hover {
  scale: 1.01;
  transform: translateX(5px);
}

.project-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 15px;
  color: var(--color-text);
  border: 1px solid var(--color-secondary);
}

.project-info .project-title {
  font-size: 1.1rem;
  font-weight: 750;
}

.project-info .project-description {
  font-size: 0.95rem;
  text-transform: capitalize;
  text-align: left;
}

.project-image-div {
  flex-shrink: 0;
  width: 100%;
  height: 290px;
  overflow: hidden;
  padding: 0;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  transition: 0.2s ease-in-out;
}

.detail {
  outline: none;
  border: none;
  padding: 5px;
  margin-top: auto;
  color: white;
  background-color: var(--color-secondary);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.project-card .detail:hover {
  scale: 0.98;
  background-color: var(--color-secondary-hover);
}

/* project display */
.project-display-outter {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 10;
}
.project-display-outter.show {
  display: block;
}
.project-display {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  max-width: 560px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.5);
  animation: project-display 0.45s ease-in-out;
}

.project-display .project-display-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  font-size: 1rem;
  border-radius: 50px;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  background-color: white;
  cursor: pointer;
}
.project-display .project-display-close:hover {
  scale: 0.95;
  color: white;
  border: 2px solid var(--color-secondary-hover);
  background-color: rgb(255, 234, 234);
}

.project-display-image {
  width: 100%;
  height: 260px;
  overflow: hidden;
  padding: 0;
  background-color: green;
}

.project-display-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left top;
}

.project-display-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}

.project-display-top {
  padding: 10px 15px;
  background-color: var(--color-secondary);
}

.project-display-title {
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
}

.project-display-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.project-display-tag {
  display: inline-block;
  background-color: var(--color-secondary-hover);
  color: white;
  font-size: 0.8rem;
  padding: 0px 5px;
  border-radius: 3px;
  text-transform: capitalize;
}

.project-display-mid {
  padding: 20px 15px;
  color: white;
  background-color: var(--color-primary);
}

.project-display-meta {
  padding-top: 20px;
}

.project-display-meta p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  margin-bottom: 5px;
  color: var(--color-secondary-hover);
}

.project-display-meta p .meta {
  text-decoration: underline;
  color: white;
}

.project-display-meta p a {
  color: var(--color-secondary-hover);
}

.project-display-meta p a:hover {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

/* path section */
.path-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.path-div {
  display: flex;
  gap: 15px;
  cursor: default;
  transition: 0.2s ease-in-out;
}

.path-div:hover {
  transform: translateX(4px);
}

.path-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.path-div:last-child {
  position: relative;
}

.path-div:last-child::after {
  content: '';
  position: absolute;
  top: 35%;
  left: -25px;
  border: solid var(--color-secondary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  animation: path-dot 1s linear infinite;
}

/* anchor */
.anchor {
  position: absolute;
  top: -70px;
  visibility: hidden;
}

/* others */
nav {
  font-weight: 600;
}

.pr nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 50px;
  border-bottom: 1px dashed var(--color-secondary);
}

section.no-border {
  border: none;
}

section h2 {
  margin-bottom: 10px;
}

/* header icon */
section i {
  color: var(--color-secondary);
  font-weight: normal;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 140px;
  padding: 10px;
  background-color: var(--color-dark);
  color: white;
  text-align: center;
  font-size: 0.87rem;
  z-index: 8;
}

/* contact */
.contact-message-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: var(--color-secondary-hover);
}

.contact-message-div .typed-cursor {
  font-size: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid var(--color-primary);
  padding: 20px 15px;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  font-size: 1rem;
  padding: 10px 5px;
}

.validation {
  width: auto;
  display: inline-block;
  font-size: 0.9rem;
  color: var(--color-secondary-hover);
}

.contact-form .submit {
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: var(--color-secondary);
  cursor: pointer;
}

.contact-form .submit:hover {
  scale: 0.96;
  background-color: var(--color-secondary-hover);
}

/* footer */
footer {
  position: relative;
}

footer a {
  color: var(--color-secondary-hover);
}

footer a:hover {
  color: var(--color-secondary-hover);
  background-color: rgb(85, 85, 85);
}

@keyframes project-display {
  0% {
    top: 300px;
    opacity: 0;
  }
  60% {
    top: 95px;
  }
  80% {
    top: 101px;
  }
  100% {
    top: 100px;
    opacity: 1;
  }
}

@keyframes mobile-nav {
  0% {
    top: -40px;
    transform: scaleY(0.2);
  }
  65% {
    top: 72px;
    transform: scaleY(1.02);
  }
  80% {
    top: 62px;
    transform: scaleY(0.98);
  }
  100% {
    top: 65px;
    transform: scaleY(1);
  }
}

@keyframes path-dot {
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

/* skeleton */
.skeleton-bg {
  background-color: hsl(0, 0%, 64%);
}

.skeleton-bg {
  min-height: 20px;
  background-color: hsl(0, 0%, 64%);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-description {
  display: inline-block;
  height: 20px;
  width: 100%;
  background-color: hsl(0, 0%, 64%);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-description:last-child {
  width: 70%;
}

.skeleton-text {
  display: inline-block;
  height: 20px;
  width: 40%;
  background-color: hsl(0, 0%, 64%);
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 64%);
  }
  100% {
    background-color: hsl(0, 0%, 44%);
  }
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  .logo {
    font-size: 1.4rem;
  }

  /* welcome */
  #welcome-message {
    font-size: 2rem;
  }

  .welcome .typed-cursor {
    font-size: 2rem;
  }

  /* nav element */
  nav {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 65px;
    right: 25px;
    padding: 0px;
    text-align: start;
    border: 2px solid var(--color-primary);
    background-color: var(--color-dark);
    box-shadow: 2px 2px 6px 2px rgb(0, 0, 0, 0.5);
    animation: mobile-nav 0.3s ease-in-out;
  }
  nav.open {
    display: flex;
  }

  .burger-container {
    display: block;
  }

  nav ul li {
    padding: 0;
    margin: 0;
  }

  .nav a {
    margin: 0;
    width: 100%;
    display: block;
    padding: 10px 80px 10px 20px;
    cursor: pointer;
    color: white;
    background-color: var(--color-secondary);
    user-select: none;
  }

  .nav a:hover {
    background-color: var(--color-secondary-hover);
  }

  section {
    padding: 5px;
    padding-bottom: 20px;
  }

  /* about */
  .about-div {
    grid-template-columns: 1fr;
  }

  .about-image-div {
    display: none;
  }

  .middle-container {
    padding-top: 70px;
  }

  /* project */
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 5px;
  }

  .project-info {
    gap: 5px;
    padding: 15px 10px;
  }

  .project-info .project-title {
    font-size: 1rem;
  }

  .project-info .project-description {
    font-size: 0.9rem;
  }

  .project-image-div {
    width: 100%;
    max-height: 200px;
  }

  .project-image {
    width: 100%;
    height: 100%;
  }

  .detail {
    display: none;
  }

  /* project display */
  .project-display {
    width: 92%;
    gap: 0px;
  }

  .project-display-top {
    padding: 15px 15px;
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.3);
    z-index: 5;
  }

  .project-display-title {
    font-weight: 700;
    font-size: 1rem;
    color: white;
  }

  .project-display-mid {
    max-height: 30vh;
    font-size: 0.9rem;
    overflow-y: scroll;
    z-index: 4;
  }

  .project-display-mid::-webkit-scrollbar {
    width: 12px;
  }

  .project-display-mid::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }

  .project-display-mid::-webkit-scrollbar-track {
    background: rgb(70, 70, 70);
  }

  /* path */
  .path-div:last-child::after {
    left: -20px;
    top: 42%;
  }
}
